.color {
    border: black solid 1px;
    display: inline-block;
}
/* #cor1 {
   background-color: blue;
}
#cor2 {
    background-color: aqua;
}
#cor3 {
    background-color: yellowgreen;
}
#cor4 {
    background-color: teal;
} */